<!-- Loading -->
<mat-progress-bar *ngIf="!employees" mode="query"></mat-progress-bar>

<!-- CRAi Employees by List -->
<div fxLayout="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
<mat-chip-list *ngFor="let employee of employees" aria-label="Employee Selection">
  <mat-chip router>{{ employee.EmployeeName }}</mat-chip>
</mat-chip-list>
</div>

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
  <mat-card *ngFor="let employee of employees" class="employee-card" id="employee.EmployeeName">
    <img mat-card-image [src]="employee.EmployeeThumb" alt="employee.EmployeeName">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ employee.EmployeeName }}
          </mat-panel-title>
          <mat-panel-subtitle>
            / {{ employee.EmployeePosition }}
          </mat-panel-subtitle>
        </mat-expansion-panel-header>
        <p>{{ employee.EmployeeBlurb }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
