.page-header {
  padding-top: 150px;
  margin: 0 30px;
}

.employee-container {
    padding: 30px;
}

.employee-row {
  margin: 150px 0 0 30px;
}

.employee-card{
  border-radius: 0;
}

.employee-header-image {
  background-size: cover;
}
