// Styling for work detail
@import '~@angular/material/theming';

@mixin crai-work-detail-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $breakpoint: map-get($theme, $mat-small);

  .crai-cover {
    width: 100%;

    .crai-cover-title {
      color: mat-color($accent);
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 30px;
      font-weight: 700;
      text-decoration: none;
    }

    .crai-cover-image {
      width: 100%;
      border-radius: 4px;
    }

  }

}
