.cover {
  width: 100%;
}

.cover-title {
  font-size: 90px;
  line-height: 90px;
  margin-bottom: 30px;
}

.cover-image {
  width: 100%;
  border-radius: 4px;
}

@media screen and (max-width: 959px) {
  .cover-title {
    font-size: 60px;
    line-height: 60px;
  }
}
