.portfolio-button-row {
  display: table-cell;
}

.portfolio-button-row .mat-button-base {
  margin: 0 15px 15px 0;
}

.portfolio-image {
  height: 300px;
  object-fit: cover;
}

.extra-height {
  height: 120px;
}
