.portfolio-button-row {
  display: table-cell;
}

.portfolio-button-row .mat-button-base {
  margin: 0 15px 15px 0;
}

.portfolio-image {
  height: calc(9*((100vw - 120px)/3)/16 );
  object-fit: cover;
}

.extra-height {
  height: 120px;
}

@media screen and (max-width: 959px) {
  .portfolio-image {
    height: calc(9*((100vw - 90px)/2)/16 );
  }
}

@media screen and (max-width: 599px) {
  .portfolio-image {
    height: calc(9*(100vw - 60px)/16 );
  }
}
