// Styling for work detail
@import '~@angular/material/theming';

@mixin crai-work-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $break-small: 599px;
  $break-tablet: 959px;

  .portfolio-button-row {
    display: table-cell;
    margin-bottom: 60px;

    .mat-button-base {
      margin: 0 15px 15px 0;
    }
  }

  .portfolio-image {
    height: calc( 9*((100vw - 120px)/3)/16 );
    object-fit: cover;
  }

  .iii-bg-number {
    position: relative;
    top: 50px;
    text-align: right;
    color: mat-color($primary);
    font-size: 150px !important;
    font-weight: 700;
    -webkit-text-fill-color: mat-color($primary); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: mat-color($accent);
  }

  .work-title {
    padding-top: 60px;
  }

  @media screen and (max-width: $break-tablet) {
    .portfolio-image {
      height: calc( 9*((100vw - 90px)/2)/16 );
    }
  }

    @media screen and (max-width: $break-small) {
      .portfolio-image {
        height: calc( 9*(100vw - 60px)/16 );
      }
    }
}
