<!-- Loading -->
<mat-progress-bar *ngIf="!portfolios" mode="query"></mat-progress-bar>

<section>

  <div>
    <h1 class="mat-h1">Design application, execution and collaboration have helped bring these visions to life.</h1>
    <h3 class="mat-h2">Filter our portfolio by project type:</h3>
    <div class="portfolio-button-row">
      <button mat-raised-button color="primary" (click)="filterRecords('')">All</button>
      <button mat-raised-button color="primary" *ngFor="let projectFilter of projectTypes" (click)="filterRecords(projectFilter)">{{ projectFilter }}</button>
    </div>
  </div>

  <div *ngIf="!filterForProjectType" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="30px grid" fxLayoutAlign="start">
    <ng-container *ngFor="let item of portfolios">
      <div fxFlex="0 1 33.3%" fxFlex.lt-md="0 1 50%" fxFlex.lt-sm="100%">
        <mat-card [routerLink]="['/work/'+item.id]" [queryParams]="{id: item.id}">
          <img mat-card-image [src]="item.fields.thumb[0].thumbnails.large.url" class="portfolio-image">
          <mat-card-header class="extra-height">
            <mat-card-title>{{ item.fields.title }}</mat-card-title>
            <mat-card-subtitle>/ {{ item.fields.subtitle }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-fab color="accent" matTooltip="Launch Project" [matTooltipPosition]="'after'" [routerLink]="['/work/'+item.id]" [queryParams]="{id: item.id}" aria-label="Open Project">
              <mat-icon>touch_app</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </div>

  <div *ngIf="filterForProjectType" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="30px grid" fxLayoutAlign="start">
    <ng-container *ngFor="let item of (portfolios | projectTypeFilter: filterForProjectType)">
      <div fxFlex="0 1 33.3%" fxFlex.lt-md="0 1 50%" fxFlex.lt-sm="100%">
        <mat-card [routerLink]="['/work/'+item.id]" [queryParams]="{id: item.id}">
          <img mat-card-image [src]="item.fields.thumb[0].thumbnails.large.url" class="portfolio-image">
          <mat-card-header>
            <mat-card-title>{{ item.fields.title }}</mat-card-title>
            <mat-card-subtitle>/ {{ item.fields.subtitle }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-fab color="accent" matTooltip="Launch Project" [matTooltipPosition]="'after'" [routerLink]="['/work/'+item.id]" [queryParams]="{id: item.id}" aria-label="Open Project">
              <mat-icon>touch_app</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </div>

</section>
