<!-- Loading -->
<mat-progress-bar *ngIf="!portfolio" mode="buffer"></mat-progress-bar>
<ng-container *ngIf="portfolio">
<div class="crai-cover">
  <h1 fxHide fxShow.gt-sm class="mat-display-4">{{portfolio.fields.title}}</h1>
  <h1 fxHide.gt-sm class="mat-display-2">{{portfolio.fields.title}}</h1>
  <img class="crai-cover-image" [src]="portfolio.fields.thumb[0].url">
</div>

<div style="padding-right: 30px;">
<mat-tab-group>
  <mat-tab label="Information">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="0px grid" fxLayoutAlign="start">
      <div fxFlex="0 1 33.3%" fxFlex.lt-md="100%">
        <mat-list>
          <mat-list-item *ngIf="portfolio.fields.clientName">
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>{{portfolio.fields.clientName}}</div>
            <div mat-line>Client</div>
          </mat-list-item>
          <mat-list-item *ngIf="portfolio.fields.project">
            <mat-icon mat-list-icon>location_city</mat-icon>
            <div mat-line>{{portfolio.fields.project}}</div>
            <div mat-line>Project</div>
          </mat-list-item>
          <mat-list-item *ngIf="portfolio.fields.location">
            <mat-icon mat-list-icon>place</mat-icon>
            <div mat-line>{{portfolio.fields.location}}</div>
            <div mat-line>Location</div>
          </mat-list-item>
          <mat-list-item *ngIf="portfolio.fields.sf">
            <mat-icon mat-list-icon>crop_square</mat-icon>
            <div mat-line>{{ portfolio.fields.sf | number}} sf</div>
            <div mat-line>Size</div>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="0 1 66.6%" fxFlex.lt-md="100%">
        <br><h3>Work Completed</h3>
        <mat-chip-list aria-label="Project Role">
          <ng-container *ngFor="let item of portfolio.fields.projectRole, let i = index">
            <mat-chip color="accent">{{ portfolio.fields.projectRole[i] }}</mat-chip>
          </ng-container>
        </mat-chip-list>
        <br><h3>Story</h3>
        <p>{{portfolio.fields.writeUp}}</p>
      </div>
    </div>
  </mat-tab>
  <mat-tab disabled label="Downloads">
    <div>Downloads</div>
  </mat-tab>
</mat-tab-group>
</div>

<div *ngIf="videos" fxLayout="column" class="videos-section">
  <h1 class="mat-display-3">Videos</h1>
  <h1>Our team also builds media, check out these videos.</h1>
  <ng-container *ngFor="let item of videos, let i = index">
    <div fxFlex="100%" class="vimeo-container">
      <div class="embed-container" [innerHtml]="videos[i]"></div>
    </div>
  </ng-container>
</div>

<div *ngIf="media" style="padding-right: 30px;">
  <ngx-masonry [options]="{ gutter: 30, itemSelector: '.masonry-item', columnWidth: '.masonry-item', horizontalOrder: true }">
    <div ngxMasonryItem class="masonry-item" *ngFor="let item of ( media | mediaTypeFilter: 'image')">
      <mat-card>
        <img mat-card-image [src]="item.fields.attachment[0].thumbnails.large.url">
        <h1 *ngIf="item.fields.name">{{ item.fields.name }}</h1>
        <p *ngIf="item.fields.description">{{ item.fields.description }}</p>
      </mat-card>
    </div>
  </ngx-masonry>
</div>

</ng-container>
