<!-- Loading -->
<mat-progress-bar *ngIf="!portfolio" mode="buffer"></mat-progress-bar>

<ng-container *ngIf="portfolio">
<div class="cover">
  <h1 class="cover-title">{{portfolio.fields.title}}</h1>
  <img class="cover-image" [src]="portfolio.fields.thumb[0].url">
</div>

<mat-tab-group>
  <mat-tab label="Information">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0px grid" fxLayoutAlign="start">
      <div fxFlex="0 1 33.3%" fxFlex.lt-md="100%">
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>{{portfolio.fields.clientName}}</div>
            <div mat-line>Client</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>location_city</mat-icon>
            <div mat-line>{{portfolio.fields.project}}</div>
            <div mat-line>Project</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>place</mat-icon>
            <div mat-line>{{portfolio.fields.location}}</div>
            <div mat-line>Location</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>crop_square</mat-icon>
            <div mat-line>{{portfolio.fields.sf}} sf</div>
            <div mat-line>Size</div>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="0 1 66.6%" fxFlex.lt-md="100%">
        <h3>Role</h3>
        <mat-chip-list aria-label="Project Role">
          <ng-container *ngFor="let item of portfolio.fields.projectRole, let i = index">
            <mat-chip color="accent">{{ portfolio.fields.projectRole[i] }}</mat-chip>
          </ng-container>
        </mat-chip-list>
        <p>{{portfolio.fields.writeUp}}</p>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Downloads">
    <div>Downloads</div>
  </mat-tab>
</mat-tab-group>

<div *ngIf="media" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="30px grid" fxLayoutAlign="start">
  <ng-container *ngFor="let item of ( media | mediaTypeFilter: 'image')">
      <div fxFlex="0 1 50%" fxFlex.lt-md="100%">
        <mat-card>
          <img mat-card-image [src]="item.fields.attachment[0].thumbnails.large.url">
          <h1>{{ item.fields.name }}</h1>
          <p>{{ item.fields.description }}</p>
        </mat-card>
      </div>
  </ng-container>
  <ng-container *ngFor="let item of ( media | mediaTypeFilter: 'VimeoVideo')">
    <iframe src="{{ item.fields.link | safe }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </ng-container>
</div>

</ng-container>
