.page-header {
  padding-top: 150px;
  margin: 0 30px;
}

.location-row {
  margin: 150px 30px;
}

.location-button-row {
  display: table-cell;
}

.location-button-row .mat-button-base {
  margin: 15px 15px 15px 0;
}
