<div class="page-header">
  <h1 fxFlex="80%" fxFlex.lt-sm="100%" class="mat-display-2">We are ready to listen, in person &amp; online. Our studio is open, but we also work remotely.</h1>
</div>

<div style="padding-right: 30px;">
<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutAlign="start" class="location-row">
  <div class="contact-image" fxFlex="0 1 50%" fxFlex.lt-md="100%" style="background-image: url('./assets/img/location/crai_toronto_office.jpg');background-size: cover;background-position: center;">
  </div>
  <div fxFlex="0 1 calc(40%-30px)" fxFlex.lt-md="100%">
      <h1 class="mat-display-2">Toronto</h1>
      <p>2928 Elgin Mills Rd<br/>Markham, ON, L6C 0E5<br/>Canada</p>
      <div class="location-button-row">
        <a mat-flat-button color="accent" href="mailto:toronto@rabaglinoarchitect.com?subject=CRAi Toronto Website Inquiry">toronto@rabaglinoarchitect.com</a>
        <a mat-flat-button color="accent" href="tel:437-375-9338">(416) 457-8785</a>
      </div>
  </div>
</div>
<mat-divider></mat-divider>
<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutAlign="start" class="location-row">
  <div class="contact-image" fxFlex="0 1 50%" fxFlex.lt-md="100%" style="background-image: url('./assets/img/location/crai_aruba_office.jpg');background-size: cover;background-position: center;">
  </div>
  <div fxFlex="0 1 calc(40%-30px)" fxFlex.lt-md="100%">
      <h1 class="mat-display-2">Aruba / Carribean</h1>
      <p>In light of travel restrictions, all of work in Aruba and the Caribbean is currently being completed by our Toronto team. They have access to an office and accomodation in Aruba if neccessary.</p>
      <div class="location-button-row">
        <a mat-flat-button color="accent" href="mailto:aruba@rabaglinoarchitect.com?subject=CRAi Aruba Website Inquiry">aruba@rabaglinoarchitect.com</a>
        <a mat-flat-button color="accent" href="tel:437-375-9338">(416) 457-8785</a>
      </div>
  </div>
</div>
<mat-divider></mat-divider>
<div>
  <h1 id="social" class="mat-display-2" style="padding-top:60px;">Follow us on your social platform of choice, we answer our messages daily.</h1>
  <div>
    <a href="https://www.instagram.com/crai_arch/" mat-menu-item target="_blank"><mat-icon color="accent" svgIcon="instagram_brands"></mat-icon>Instagram</a>
    <a href="https://linkedin.com/company/rabaglinoarchitect" mat-menu-item target="_blank"><mat-icon color="accent" svgIcon="linkedin_brands"></mat-icon>LinkedIn</a>
    <a href="https://twitter.com/CRAi_arch" mat-menu-item target="_blank"><mat-icon color="accent" svgIcon="twitter_brands"></mat-icon>Twitter</a>
  </div>
</div>


</div>
