<footer>
<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutAlign="start" class="footer-container">
  <div fxFlex="0 1 calc(40% - 30px)" fxFlex.lt-md="100%">
    <div fxLayout="column" fxLayoutGap="30px" class="footer-column">
      <h2>CRAi Toronto</h2>
      <div class="footer-info">
        <h4>2928 Elgin Mills Rd<br/>Markham, Ontario, Canada<br/>L6C 0E5</h4>
      </div>
      <div class="footer-button-row">
      <a mat-flat-button href="mailto:toronto@rabaglinoarchitect.com?subject=CRAi Toronto Website Inquiry">toronto@rabaglinoarchitect.com</a>
      <a mat-flat-button href="tel:437-375-9338">(416) 457-8785‬</a>
      </div>
    </div>
  </div>
  <div fxFlex="0 1 calc(40% - 30px)" fxFlex.lt-md="100%">
    <div fxLayout="column" fxLayoutGap="30px" class="footer-column">
      <h2>Job Opportunities</h2>
      <div class="footer-info">
        <h4>We are always looking for passionate driven people to join our team. Get in touch with us directly, and lets talk careers.</h4>
      </div>
      <a mat-flat-button href="mailto:jobs@rabaglinoarchitect.com?subject=CRAi Jobs Inquiry">jobs@rabaglinoarchitect.com</a>
      <a mat-flat-button href="https://www.linkedin.com/company/rabaglinoarchitect/" target="_blank">linkedin.com/rabaglinoarchitect</a>
    </div>
  </div>
  <div fxFlex="0 1 100%" class="footer-copyright">
    <p class="copyright">Claudio Rabaglino Architect Inc. 2020 © All Rights Reserved</p>
  </div>
</div>
</footer>
