<footer>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
<div fxFlex="0 1 calc(66.6% - 32px)" fxFlex.lt-sm="100%">
  <h4><strong>CRAi Toronto</strong></h4>
  <h4>2928 Elgin Mills Rd<br />Markham, ON L6C 0E5<br />Canada</h4>
  <h3><a href="mailto:toronto@rabaglinoarchitect.com?subject=CRAi Toronto Website Inquiry" style="font-size: 15px;">toronto@rabaglinoarchitect.com</a></h3>
  <h3><a href="tel:437-375-9338" style="font-size: 15px;">(416) <strong>457-8785‬</strong></a></h3>
</div>
<div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-sm="100%">
  <h4><strong>Job Opportunities</strong></h4>
  <h4>We are always looking for passionate driven people to join our team.</h4>
  <h4>Get in touch, and lets talk.</h4>
  <h3><a href="mailto:jobs@rabaglinoarchitect.com?subject=CRAi Jobs Inquiry" style="font-size: 15px;">jobs@rabaglinoarchitect.com</a><br /></h3>
  <h3><a href="https://www.linkedin.com/company/rabaglinoarchitect/" style="font-size: 15px;" target="_blank">linkedin.com/rabaglinoarchitect</a><br /></h3>
</div>
</div>
</footer>
