.crai-nav-spacer {
  flex: 1 1 auto;
}

.crai-nav-button-row {
  display: table-cell;
  width: 350px;
}

.example-sidenav {
  position: absolute;
  top: -64px;
  z-index: 1;
  width: 100vw;
  height: calc(100vh + 64px);
  display: flex;
  opacity: 0.9;
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
}
