<mat-toolbar>
  <a routerLink="" fxHide fxShow.gt-sm><span>Claudio Rabaglino Architect Inc.</span></a>
  <span fxHide.gt-sm>CRAi</span>
  <span class="crai-nav-spacer"></span>

  <div fxHide.lt-md class="crai-nav-button-row">
    <a mat-button routerLink="/work">Work</a>
    <a mat-button routerLink="/people">People</a>
    <a mat-button routerLink="/contact">Contact</a>
  </div>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
