.crai-nav-spacer {
  flex: 1 1 auto;
}

.crai-nav-button-row {
  display: table-cell;
  width: 350px;
}

.example-sidenav {
  position: absolute;
  top: -64px;
  z-index: 1;
  width: 100vw;
  height: calc(100vh + 64px);
  display: flex;
  opacity: 0.95;
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
}

// Styling for logo
#logo-colour {
  color: rgba(237, 176, 046, 100);
}
