<mat-toolbar>
  <a mat-button routerLink="" fxHide fxShow.gt-sm>Claudio Rabaglino Architect <span id="logo-colour">Inc.</span></a>
  <a mat-button routerLink="" fxHide.gt-sm>CRA<span id="logo-colour">i</span></a>
  <span class="crai-nav-spacer"></span>

  <div fxHide.lt-md class="crai-nav-button-row">
    <a mat-button routerLink="/work">Work</a>
    <a mat-button routerLink="/people">People</a>
    <a mat-button routerLink="/contact">Contact</a>
    <button mat-button [matMenuTriggerFor]="socialMenu">Social</button>
    <mat-menu #socialMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>

  <button mat-icon-button class="example-icon" aria-label="Menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-slide-toggle [checked]="isDarkTheme | async" labelPosition="before" (change)="toggleDarkTheme($event.checked)">
    <mat-icon>wb_sunny</mat-icon>
    <mat-icon>nights_stay</mat-icon>

  </mat-slide-toggle>


</mat-toolbar>

  <mat-sidenav #drawer class="example-sidenav" mode="side">
      <a mat-button routerLink="/work" (click)="drawer.toggle()">Work</a>
      <mat-divider></mat-divider>
      <a mat-button routerLink="/people" (click)="drawer.toggle()">People</a>
      <mat-divider></mat-divider>
      <a mat-button routerLink="/contact" (click)="drawer.toggle()">Contact</a>
      <mat-divider></mat-divider>
      <button mat-button routerLink="/contact" (click)="drawer.toggle()">Social</button>
      <mat-divider></mat-divider>
      <button (click)="drawer.toggle()" mat-button>
        Close <mat-icon>close</mat-icon>
      </button>
  </mat-sidenav>
